html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.slides > section {
  height: 100%;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  -webkit-transision: opacity .4s ease-in-out;
}

div.slides > section.present {
  opacity: 1;
}

ol, ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
