* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

div.slides {
  color: #3c3b39;
  font: 40px "adelle", serif;
}

div.slides > section {
  bottom: 0px;
  height: 500px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 1s ease-out;
  top: -100px;
  vertical-align: middle;
  width: 100%;
}

div.slides > section.present {
  opacity: 1;
  top: 0;
}

div.slides > section.past {
  top: 100px;
}

ol, ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
